<html>
<head>


</head>
<body bgcolor ="silver">
<br /><br />
<%= form_for(@question) do |f| %>
<<<<<<< HEAD
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div><br />
<div class="field">
    <%= f.label :Description %><br />
    <%= f.text_area :description ,:rows => 5,:cols => 34 %>
  </div><br />
  <div class="field">
    <%= f.label :category_id %><br /> 
  
      <%= f.collection_select :category_id, Category.find(:all), :id, :name ,{:prompt=>'----select category---'},{ :onchange=>"#{remote_function(:url=>{:action=>'load_subcategories'},:with =>"'id='+value")}" }%>	

  </div><br />


  <div class="field">
    <%= f.label :subcategory_id %><br />
    <%= f.collection_select :subcategory_id, {},:id, :name,{},{:style=>'width:17.5%'} %><br /><br /> 

  </div><br />
  <div class="actions">
   
    <%= f.submit %>

  </div>
=======
<% if @question.errors.any? %>
<div id="error_explanation">
<h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

<ul>
<% @question.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>

<div class="field">
<%= f.label :name %><br />
<%= f.text_field :name %>
</div><br />
<div class="field">
<%= f.label :Description %><br />
<%= f.text_area :description ,:rows => 5,:cols => 34%>
</div><br />
<div class="field">
<%= f.label :category_id %><br />

<%= f.collection_select :category_id, Category.find(:all), :id, :name ,{:prompt=> 'Select Category'},{ :onchange=>"#{remote_function(:url=>{:action=>'load_subcategories'} ,:with =>"'id='+value")}" }%>

</div><br />


<div class="field">
<%= f.label :subcategory_id %><br />
<%= f.collection_select :subcategory_id, Subcategory.find(:all), :id, :name %><br /><br />

</div><br />
<div class="actions">

<%= f.submit %>

</div>
>>>>>>> 31a48f4099fcbb35cb380bbc2504ca17d5c6e96d
<% end %>
</body></html>
