<html>
<body >
<p id="notice"><%= notice %></p>
 

<p>
  
<h2> <b>Question:</b> <%= @question.name %></h2>
<br /> <br />
<%= link_to "Answer This Question" ,:controller => 'answers',:action =>'new',:id => @question.id%>
</p>
<% @answerlist.each do |answer| %>
  <tr>
     <td> <h5><%= answer.name%> </h5></td>   
     Posted <%= time_ago_in_words(answer.created_at) %> ago
<% end%>

</body>
</html>
