
<p id="notice"><%= notice %></p>
 

<p>
<<<<<<< HEAD
  <br />
<h2> <b>Question:</b> <%= @question.name %></h2>
<br /> <br />
<%= link_to "Answer This Question" ,:controller => 'answers',:action =>'new',:id => @question.id%><br /><br /><br /><br />
</p>
<% @answerlist.each do |answer| %>
  <tr>
     <td> <h5><%= answer.name%> </h5></td>   
     Posted <%= time_ago_in_words(answer.created_at) %> ago <br /><br />
=======
  
<h2> <b><br/><br/>Question:</b> <%= @question.name %></h2>
<br /> <br />
<%= link_to "Answer This Question" ,:controller => 'answers',:action =>'new',:id => @question.id%><br/><br/>
</p>
<% @answerlist.each do |answer| %>
  <tr>
     <td> <h5><%= answer.name%> </h5></td> 
     &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;Posted <%= time_ago_in_words(answer.created_at) %>  ago <br/><br/>
>>>>>>> 31a48f4099fcbb35cb380bbc2504ca17d5c6e96d
<% end%>

