 <%= stylesheet_link_tag 'saveedit',:media => "all" %>	
<h1>Editing subcategory</h1>

<%= render 'form' %>


<ul id="css3menu" class="topmenu">
	
	<li class="topfirst"><%= link_to 'Back', admin_subcategories_path %> </li>
	
</ul></td>



<!-- 		<%= link_to 'Show', @admin_subcategory %> | 
		<%= link_to image_tag("/images/back.gif", :border=>0), admin_subcategories_path %>  		   -->
