 <%= stylesheet_link_tag 'saveedit',:media => "all" %>	
<p id="notice"><%= notice %></p>
<table  class="stats" cellspacing="0" style={width: 550px;}>
<br />


<th> <h2><%= @subcategory.category.name %><br /></h2></th>




   <tr><td> <%= @subcategory.name %></td></tr><br />
<br /></table><br />

<ul id="css3menu" class="topmenu">
	<li class="topfirst"><%= link_to 'Edit', edit_admin_subcategory_path(@admin_subcategory) %> </li>
	<li class="topmenu"><%= link_to 'Back', admin_subcategories_path %> </li>
	
</ul></td>


<!--    <%= link_to image_tag("/images/edit.gif", :border=>0), edit_admin_subcategory_path(@admin_subcategory) %> 
<%= link_to image_tag("/images/back.gif", :border=>0), admin_subcategories_path %>     -->
