<center>
<table CLASS="formbg" >
<br/><br/><br/><tr><td><h1>&nbsp;&nbsp; Register</h1></td></tr>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <tr><td><%= devise_error_messages! %></td></tr>

 <tr><td><%= f.label :email %><br />
  <%= f.text_field :email %></td></tr>

  <tr><td><%= f.label :password %><br />
  <%= f.password_field :password %></td></tr>

  <tr><td><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></td></tr>

  <tr><td><%= f.submit "Sign up" %><br/><br/></td></tr>
<% end %>

<tr><td><%= render :partial => "devise/shared/links" %></td></tr>
</center>
</table >
