<html>
<body bgcolor = 'pink'><center>
<h3><center> Login Form </center></h3>
<%= form_tag :action => 'create' %>
<p>Email :<br> <%= text_field :admin, :email %></P>
<p>Password :<br> <%= password_field :admin, :password %></P>
<%= submit_tag "Login"%>
<%= form_tag%>
</center>
</body>
</html>
