<html>
<body bgcolor = "pink">
<p AlIGN ="right">
Hello <strong><%=session[:user_id]%></strong>.
<br><br>
<%= link_to "Logout |" ,adminsession_path,:method=> :delete,:id => session[:user_id]%>
<%= link_to "View Profile |" ,admin_path,:id => session[:user_id]  %>
<%= link_to "Mentor |" %>
<%= link_to "Mentee |"  %>
</p>
</body>
</html>
