<html>
<body bgcolor ="pink"><center>
<h3> REGISTRATION FORM</h3>
<BR><BR>
<%= form_tag :action => 'create' %>
<p>UserName : <%= text_field :admin, :email %><P>
<p>Password : <%= password_field :admin, :password %><P>
<%= submit_tag "Register"%>
<%= form_tag%>
</center>
</body>
</html>
