<center>
<table CLASS="formbg" >
<br/><br/><br/><tr><td><h2>Forgot your password?</h1></td></tr>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
 <tr><td> <%= devise_error_messages! %></td></tr>

 <tr><td><%= f.label :email %><br />
  <%= f.text_field :email %></td></tr>

 <tr><td><%= f.submit "Send me reset password instructions" %><br/><br/></td></tr>
<% end %>

<tr><td><%= render :partial => "devise/shared/links" %></td></tr>
</center>
</table >
