<html>
<body>
<p id="notice"><%= notice %></p>
 

<p>
  
<h2> <b>Question:</b> <%= @ques.name %></h2>
<br /> <br />
<%= link_to "Answer This Question" ,:controller => 'answers',:action =>'new',:id => @ques.id%>
</p>
<% @answerlist.each do |answer| %>
  <tr>
     <td> <h3><%= answer.name%> </h3></td>   
 <!-- RATINGS        <%= link_to "1    |2   |3    |4|"%> -->

<% end%>


<<<<<<< HEAD
<!--

-->



=======
>>>>>>> 902e3766cf49a1d370adab645075f23243d026b5

</body>
</html>
