<html>
<body>
<p id="notice"><%= notice %></p>
 
<%puts "#############",@ques.name%>
<p>
  
<h2> <b>Question:</b> <%= @ques.name %></h2>
<br /> <br />
<%= link_to "Answer This Question" ,:controller => 'answers',:action =>'new',:id => @ques.id%>
</p>
<% @answerlist.each do |answer| %>
  <tr>
     <td> <h3><%= answer.name%> </h3></td>   
 <!-- RATINGS        <%= link_to "1    |2   |3    |4|"%> -->

<% end%>


<!--

<html>
<body bgcolor="silver">
<center>
<h2><p id="notice"><%= notice %></p></h2>
<table>
<tr>
<p>
  <b>Name:</b>
  <%= @question.name %>
</p>
</tr>
<tr>
<p>
  <b>Description:</b>
  <%= @question.description %>
</p>
</tr>
</table>



<!-- <%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %> 
</center>
</body>
</html> -->




</body>
</html>
