<html>
<body>
<p id="notice"><%= notice %></p>
 
<%puts "#############",@ques.name%>
<p>
  
<h2> <b>Question:</b> <%= @ques.name %></h2>
<br /> <br />
<%= link_to "Answer This Question" ,:controller => 'answers',:action =>'new',:id => @ques.id%>
</p>
<% @answerlist.each do |answer| %>
  <tr>
     <td> <h3><%= answer.name%> </h3></td>   
 <!-- RATINGS        <%= link_to "1    |2   |3    |4|"%> -->

<% end%>


<!--

-->




</body>
</html>
