<img src="/images/Listingcategories.gif" border="0"/><br/>
<a href="#" onclick="Effect.toggle('form','blind');" ><img src="/images/newcategory.gif" border="0"/></a><br />
<div id="form" style="background-color:#CCCCCC; width: 550px; display:none;"><br />
<%=render :partial=>'formduplicate'%><br /><br />
</div>

<table id='cat' class="stats" cellspacing="0">
  <tr>
    <th><h3>Categories</h3></th>

  </tr>
<ul>
<% @categories.each do |admin_category| %>
  <tr>
   <td><%= link_to admin_category.name, :action=> 'show', :id => admin_category.id  %>
           <%= "(#{admin_category.subcategories.count})" -%></td>
</ul>
   


 <!--     <td><%= link_to 'Show',:action=> 'show', :id => admin_category.id %></td>
  <td><%= link_to 'Edit', edit_admin_category_path(admin_category) %></td>
    <td><%= link_to 'Destroy',  :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<% end %>
</table>

<br />

<!--   <%= link_to 'New Category', new_admin_category_path %>   -->


