 <%= stylesheet_link_tag 'saveedit',:media => "all" %>	
<p id="notice"><%= notice %></p>
<table  class="stats" cellspacing="0">

 <th> <b><h1> 
  <%= @category.name %></h1></b></th>
<br/>


<tr>
<%@category.subcategories.each do |s|%>
  <td><%= s.name%></td></tr>
<%end%> </table
<br/>

<ul id="css3menu" class="topmenu">
	<li class="topfirst"><%= link_to 'Edit',  edit_admin_category_path(@category) %> </li>
	<li class="topmenu"><%= link_to 'Back', admin_categories_path %> </li>
	<li class="toplast"><%= link_to 'Destroy',  @admin_category, :confirm => 'Are you sure?', :method => :delete  %> </li>

</ul>




