<h2>Sign in</h2>



<%= puts 'haiiiiiiiiiiiiiiiii'%>
 <%= form_tag login_index_path %>
<p>Email : <%= text_field :user, :email %><P>
<p>Password : <%= password_field :user, :password %><P>

<%= submit_tag "Login"%>
<%= form_tag%>	
<%= render :partial => "devise/shared/links" %>
