<!DOCTYPE html>
<div id = "user_nav">
  <%if user_signed_in? %>
     <p align = right >Hello, <%= current_user.email %> |
    <%= link_to "Sign_out",destroy_user_session_path %></p>
  <% else %>
  <p align = right>  <%= link_to "Sign_up", new_user_registration_path %> or
    <%= link_to "Sign_in", new_user_session_path %></p>
  <% end %>
</div>
<html>
<head>
  <title>MentorMentee</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
<h1> Mentor-Mentee </h1>

<%= link_to "Student Corner", :controller => "credentials", :action => 'index' %> | <%= link_to "Faculty_corner",:controller => "credentials",:action => 'faculty'%> | <%= link_to "Packages",:controller => "credentials",:action => 'packages'%> | <%= link_to "Categories", :controller => "admin/categories" %> |  <%= link_to "Subcategories", :controller => "admin/subcategories" %> | <%= link_to "AboutUs",:controller => "credentials", :action => 'new' %> | <%= link_to "Study Material",:controller => "credentials",:action => 'stud_mat'%> | <%= link_to "Careers",:controller => "credentials", :action => 'career'%> | <%= link_to "ContactUs",:controller => "credentials",:action => 'contact'%>
</head>
<body bgcolor = "pink">
<center>

<%= yield %>
</center>
</body>
</html>
